.contacts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #F7F7F7;
  }
 


  .contacts_part {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }

  .contactsf_part {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    justify-content: center;
  }

  .contactsf_part__contact {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .contactsf_part__contact p{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .contact img, .contactsf_part__contact img  {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .horses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #F7F7F7;  
  }

  .horses_part {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    justify-items: center;
  }
  
  .horse img {
    border-radius: 50%;
    width: 200px;
  }

  .horse img {
    transition: all 0.7s ease-out ;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;

    }
    
   .horse img:hover {
     transform: scale(1.23);
    -webkit-transform: scale(1.23);
    -moz-transform: scale(1.23);
    -o-transform: scale(1.23);
    }

  .contact {
    width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
  }
  /* .contact__main {
    width: ;
  } */

  .contact__info {
    width: 190px;
  }

  .horse {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
   
  }
  
  .horse p {
    text-align: center;
    padding-top: 20px;
  }

  
  @media (max-width: 767px) {

    .horses_part {
      grid-template-columns: 50% 50%;
  
    }
    .contacts_part {
      grid-template-columns: 100%;
  
    }  
  }


  @media (max-width: 426px) {
  
    .horses_part {
      grid-template-columns: 100%;
    }

    .contacts_part {
      grid-template-columns: 100%;
    }

    .contactsf_part {
      grid-template-columns: 50% 50%;
    }
   
  }
  