html, html a, p, h1, h2, h3, h4, h5, .btn, a, button, li{

   text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

}

@media screen
and (-webkit-min-device-pixel-ratio: 0)
and (min-resolution: 0.001dpcm)
and (prefers-color-scheme: dark)
 {
  body, section, div, p, h1, h2, h3, h4, h5, .btn, a, button, li {

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

  }
}
@media screen
and (-webkit-min-device-pixel-ratio: 0)
and (min-resolution: 0.001dpcm)
 {
  body, section, div, p, h1, h2, h3, h4, h5, .btn, a, button, li {

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

  }
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.logoo {
  width: 40px;
}

body {
  padding:0px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 100%;
  background-color:#F7F7F7;
  min-width: 0;
  height: 100%;

}


p, h1, h2, h3, h4, h5, .btn, a, button, li, table, td {
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: justify;
  animation: none;
  color:#53361b;
  padding-left: 5px;

}
h1, h2, h3, h4, h5 {
  font-weight: 500;

}

.main_h2 {
  font-size: 36px;
  font-weight: 500;
  text-align: center;

}
h1, h2, h3, h4, h5 {
  text-align: center;
}
h2 {
  font-size: 30px;
}





img {
  width: 100%;
}
footer p, footer h1, footer h2, footer h3, footer h4, footer h5, footer .btn, footer a
{
  color: white;
}

.socialmedia {

    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-bottom: 30px; */

}
.socialmedia__element {

  align-self: center;
  margin: 10px;
  /* margin-bottom: 30px; */

}
/* #training{
  background-color: #e4f1d8;
} */
.gray {
  background-color: #EFEFEF;
}
section {
  padding-top: 60px;
  padding-bottom: 0px;
  display: flex;
  width: 100%;
  margin: 0px auto 0px auto;
  max-width: 1000px;
  background-color: #F7F7F7;
  z-index: 1;
  min-width: 0;
}

ul {
  list-style-image: url(../photo/horseshoe.svg);
}

ul, li {
  max-width: 100%;
}
ul, ol {
  padding-left: 30px;

}
li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ol_ul__margin {
  margin-bottom: 15px;
  margin-top: 10px;
}

.not-found-section {
  margin-top: 50px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.not-found-message {
  margin-top: 10px;
}

.gal {
  list-style-image: url(../photo/check.svg);
}
.decimal ol, ol {
   list-style-image: none;
  list-style-type: decimal;

}
.listp0 li, .listp0{
  padding-left: 0px;


}
.listm0 li {
 margin-left: 0px;

}
.admargin {
  margin-top: 25px;
  margin-bottom: 20px;
}


.slogan {
  padding-top: 60px;
  padding-bottom: 10px;
  width: 100%;
  min-width: 100%;
  background-color: #274C21;
}
.slogan h2 {
  font-family: 'Marck Script', cursive;
  color: #F7F5DA;
  font-size: 22px;
  line-height: 22px;
}
.mainslider {
  padding-top: 0px;
  /* font-weight: 900; */
}
.wrapper {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  margin: 0px auto 0px auto;
  max-width: 1000px;
  /* height: 80px; */
  padding-top: 20px;
  padding-left: 30px;
}



.map {
  width: 95%;
}


footer {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  min-width: 100%;
  width: 100%;
  margin: 0px auto 0px auto;
  color: #F7F7F7;
  background-color: #333;

}
.footer {
  width: 100%;
  max-width: 1000px;

}




.container {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}

.rev_slider, .slider2 {
  min-width: 0;
}

.block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* max-width: 100%;; */

}
/* .border {

  border-width: 2px;
  border-style: solid;
  border-color: rgb(221, 197, 170);

  padding: 3px;
  padding-top: 20px;
  padding-bottom: 30px;
  transition: all 0.3s ease 0s;
  border-bottom: 4px solid rgb(221, 197, 170);

}
.border:hover {
  border-bottom: 4px solid #076A09;

} */

/* .arrow2, .arrow3, .arrow4, .arrow5, .arrow6, .arrow7, .arrow8, .arrow9, .arrow10 {
  display: flex;
  justify-content:space-around;
  background-color: none;
} */


.prev,
.next {
  position: absolute;
  top: 43%;
  height: 40px;
  width: 40px;
  z-index: 1;
  cursor: pointer;
}
.next {
  right: 4px;
}
.prev {
  left: 4px;
}
.prev :hover,
.next :hover {
  cursor: pointer;
 }




.slide {
  min-width: 0;
}



.more-a {
  margin: auto;
  text-decoration: none;
  text-align: center;
}

.more-div {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.more-btn {
  font-size: 18px;
  padding: 15px;
  margin: 10px;
  background-color: #ECC788;
  border-radius: 3px;
  transition: all 0.1s ease-out ;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
}
.more-btn:hover {
  background-color: #dda33f;
  cursor: pointer;

}





.textblock {
  width: 90%;
  margin-left: 5%;
}



.footer__link {
  width: 40px;
}

.slick-active  {

  animation-fill-mode: forwards;

}

.mainslider {
  display: flex;
  flex-direction: column;
  position: relative;
}


@media (max-width: 767px) {

  .btn {
    width: 100px;
    height: 20px;
    background-size:contain;
  }
  .slogan h2 {
    font-size: 18px;
  }

}
@media (max-width: 426px) {

  .slogan h2 {
    font-size: 14px;
  }
  .wrapper {
    height: 30px;
    padding-top: 20px;
    padding-left: 10px;
  }

}

