*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  padding:0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color:chocolate;
  min-width: 0;
 
}
p, h1, h2, h3, h4, h5, .btn  {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  color:#270949;
}

section {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px auto 0px auto;
  max-width: 1200px;
  background-color: #F7F7F7;
  z-index: 1;
  min-width: 0;
}

footer {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0px auto 0px auto;
  background-color: #F7F7F7;
  background-color: #333;

}


/* header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0px auto 0px auto;    
  background-color: #F7F7F7; 

} */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(198, 173, 216);
  z-index: 2;

}
.header_body {

  position:relative;
  /* z-index: 10; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  min-width: 0;
}

.rev_slider {
  min-width: 0;
}
.slide {
  min-width: 0;
}


/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 999999;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}
.header_list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header_list li {
  position: relative;
  list-style: none;
  margin: 0px 0px 0px 20px;
}
.header_list>li:hover .submenu_list{
  display: block;
  
}
.header_logo {
  flex: 0 0 60px;
  position: relative;
  z-index: 3;
  
}
.header_logo img {
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}
.header_burger {
  display: none;
}

.header_list>li{
   
  margin: 0px 10px 0px 0px;

}
.header_menu a {
  text-decoration: none;
}
.header_link {
  color:lawngreen;
}
.submenu_list {
  display: none;
  min-width: 400px;
  position: absolute;
  left: 0;
  top: 0;
  
  padding: 30px 0px 0px 0px;
 
}
.submenu_link {
  background-color: lightpink;
  min-width: 200px;
  display: inline-block;
  padding: 5px 10px;
}

.arrow {
  display: none;
	position: absolute;
	right: 0;
	top: 12px;
	width: 0;
	height: 0;
	border-top: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

}




body.mouse .header_list>li:hover .submenu_list {
	display: block;
}

body.touch .submenu_list.open{
	display: block;
}

body.touch .arrow {
	display: block;
}

@media (max-width: 767px) {
  .body.lock {
    overflow: hidden;

  }
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before, 
  .header_burger:after {
    content: '';
    background-color: red;
    position: absolute;
    width: 100%;
    height: 2px;
    left:0;
    transition: all 0.3s ease 0s;

  }
  .header_burger:before {
    top: 0;
  }
  .header_burger:after {
    bottom: 0;

  }

  .header_burger.active:before {
    transform: rotate(45deg);
    top: 9px;

  }
  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;

  }
  .header_burger.active span {
    transform: scale(0);
  }
  .header_burger span {
    background-color: red;
    position: absolute;
    width: 100%;
    height: 2px;
    left:0;
    top: 9px;
  }
  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: green;
    padding: 100px 10px 20px 10px;
    transition: all 0.3s ease 0s;
   
  }
  .header_menu.active {
    top: 0;
    overflow: auto;
  }
  .header_list {
    display: block;
  }


	.header_list>li{
		margin: 0px 0px 10px 0px;
	}
	.submenu_list{
		position: relative;
		left: 0;
		top: 0;
	}
	
	.submenu_arrow.arrow {
		right: 10px;
		top: 15px;
		border-bottom: none;
		border-left: 10px solid transparent;
		border-top: 10px solid #000;
		border-right: 10px solid transparent;
	}


























  
}





/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


