html, html a {
  /*text-shadow: 1px 1px 1px rgba(0,0,0,0.004);*/
   text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

}
/* html {
  scroll-behavior: smooth;
  } */
@media screen
and (-webkit-min-device-pixel-ratio: 0)
and (min-resolution: 0.001dpcm)
and (prefers-color-scheme: dark)
 {
  body {
    
    -webkit-font-smoothing: antialiased;

  }
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  padding:0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color:#F7F7F7;
  min-width: 0;
  height: 100%;
 
}

p, h1, h2, h3, h4, h5, .btn, a, button, li  {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-align: justify;
  animation: none;

  color:#53361b;
  
}
img {
  width: 100%;
}
footer p, footer h1, footer h2, footer h3, footer h4, footer h5, footer .btn
{
  color: white;
}
#training{
  background-color: #e4f1d8;
}
section {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px auto 0px auto;
  max-width: 1200px;
  background-color: #F7F7F7;
  z-index: 1;
  min-width: 0;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F7F7F7;
 
}
.contacts_part {
  width: 100%;
display: flex;
  align-items:center;
 
  flex-wrap: wrap;
  
}
.contact img {
  border-radius: 50%;
}
.contact {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 30px;

}


footer {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0px auto 0px auto;
  color: #F7F7F7;
  background-color: #333;

}



.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #076A09;
  z-index: 2;

}
.header_body {

  position:relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}

.rev_slider, .slider2 {
  min-width: 0;
}
 
.block {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.arrow2, .arrow3, .arrow4, .arrow5, .arrow6, .arrow7 {
  display: flex;
  justify-content:space-around;

}

.slide {
  min-width: 0;
}



.header_logo {
  flex: 0 0 100px;
  position: relative;
  z-index: 3;
  
}
.header_logo img {
  max-width: 100%;
  /* border-radius: 50%; */
  overflow: hidden;
  display: block;
}

.btn {
  width: 100px;
  color: hotpink;
  background-color: khaki;
}

.textblock {
  width: 90%;
  margin-left: 5%;
}

/* КНОПКА НАВЕРХ */
.backtobegin {
  position: fixed;
  right: 10px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-color: transparent;
  z-index: 10000;
  background-color: #83AB6E;
  border-radius: 50%;
  display:none;

}
.backtobegin:hover,
.backtobegin:focus {
  filter: brightness(1.5);
  outline: none;
}
.backtobegin::before, 
.backtobegin::after {
  content :'';
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.backtobegin::before{
  width: 5px;
  height: 20px;
 border-top-left-radius: 3px;
 border-top-right-radius: 3px;
 background-color: wheat;


}
.backtobegin::after {
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: 5px solid wheat ;
  border-left: 5px solid wheat ;

}


.slick-active  {
  
  animation-fill-mode: forwards;

}

.mainslider {
  position: relative;
}
.slogan {
  position:absolute;
  left: 30px;
  top: 100px;
  max-width:80%;
  z-index: 10000;
 
}
.slogan h2 {
  font-size: 40px;
  background-color: rgba(40, 40, 40, 0.2);
  color: #F7F5DA;
}
/* МЕНЮ */
.header_list li {
  position: relative;
  list-style: none;
  margin: 0px 0px 0px 20px;
}
.header_list {
  display: flex;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease 0s;
}
.header_burger {
  display: none;
}
.header_list>li{
  transition: all 0.3s ease 0s;
  margin: 0px 25px 0px 0px;
}
.header_menu a {
  text-decoration: none;
}
.header_link {
  color:#F7F5DA;
}
.submenu_list {
  display: none;
  min-width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 30px 0px 0px 0px; 
  transition: all 0.3s ease 0s;
  
}
.submenu_link {
  color:#F7F5DA;
  background-color:rgba(40, 40, 40, 0.4);
  min-width: 250px;
  display: inline-block;
  padding: 5px 10px;
  
}
.arrow {
  display: none;
	position: absolute;
	right: 0;
	top: 1px;
	width: 0;
	height: 0;
	border-top: 10px solid #F7F5DA;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
  transition: all 0.3s ease 0s;
}
.arrow.active{
	transform: rotate(-180deg);
}
body.mouse .header_list>li:hover .submenu_list {
	display: block;
 
}
body.touch .submenu_list.open{
	display: block;
}
body.touch .arrow {
	display: block;
}
.less {
  display: none;
}
@media (max-width: 767px) {

  /* МЕНЮ */
  .body.lock {
    overflow: hidden;
  }
  .header_list {
		display: block;
	}
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before, 
  .header_burger:after {
    content: '';
    background-color:#F7F5DA;
    position: absolute;
    width: 100%;
    height: 2px;
    left:0;
    transition: all 0.3s ease 0s;

  }
  .header_burger:before {
    top: 0;
  }
  .header_burger:after {
    bottom: 0;

  }

  .header_burger.active:before {
    transform: rotate(45deg);
    top: 9px;

  }
  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;

  }
  .header_burger.active span {
    transform: scale(0);
  }
  .header_burger span {
    background-color: #F7F5DA;
    position: absolute;
    width: 100%;
    height: 2px;
    left:0;
    top: 9px;
  }
  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:#076A09;
    padding: 100px 10px 20px 10px;
    transition: all 0.3s ease 0s;
   
  }
  .header_menu.active {
    top: 0;
    overflow: auto;
  }
  .header_list {
    display: block;
  }
	.header_list>li{
		margin: 0px 0px 10px 0px;
	}
	.submenu_list{
   
		position: relative;
		left: 0;
		top: 0;
	}
	.submenu_arrow.arrow {
		right: 10px;
		top: 15px;
		border-bottom: none;
		border-left: 10px solid transparent;
		border-top: 10px solid #000;
		border-right: 10px solid transparent;
	}
  .more {
    display: none;
    margin: 0;
    padding: 0;
  }
  .less {
    /* margin: 0px 0px 10px 0px; */
    display: flex;
  }

  .slogan h2 {
    font-size: 32px;
    
  }

  
}

